<h1 class="details-heading">Detalhes do Pacote</h1>
<div class="details-container">
  <div class="detail-item">
    <p><strong>ID:</strong> {{pacote.id}}</p>
    <p><strong>Remetente:</strong> {{pacote.remetente}}</p>
    <p><strong>Destinatário:</strong> {{pacote.destinatario}}</p>
    <p><strong>Endereço:</strong> {{pacote.endereco}}</p>
  </div>
  <div class="button-group">
    <a href="/pacotes" class="button">Voltar para a lista de pacotes</a>
    <form action="/pacotes/delete/{{pacote.id}}" method="post" class="delete-form">
      <button type="submit" class="delete-button">Excluir Pacote</button>
    </form>
  </div>
</div>
